body {
    background-color: #111;
    color: #eee;
    font-family: 'Courier New', Courier, monospace;
}

.header-container {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40vw;
}

.header > span {
    margin-top: 0.2rem;
    margin-bottom: 0.9rem;

    text-align: center;
}

.header > .title {
    font-size: 2em;
}

.thumbnail-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 85vw;
    /* TODO: Should we use flexbox for this? */
    margin: auto;
}

.thumbnail {
    width: 40vw;
    height: 30vw;
    background-size: cover;

    border: 4px solid;
    border-color: #bbb #888;

    position: relative;
}

.thumbnail::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0.06,0.06,0.06,0.9), transparent 20%, transparent 80%, rgba(0.06,0.06,0.06,0.9));
    pointer-events: none;
}

.thumbnail > * {
    position: relative;
    z-index: 1;

    overflow: hidden;
}

.thumbnail > .title {
    font-weight: bold;
}

.tag {
    /* background-color: #ddd;
    color: #222; */
    padding: 0.2em;
    border-radius: 2em;
}
.tag::before { content: "<"; }
.tag::after  { content: ">"; }

.thumbnail-content {
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    box-sizing: border-box;

    z-index: 2;
}

.thumbnail-row {}

.thumbnail-about-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    transition: all 0.5s ease;

    backdrop-filter: none;
}

.thumbnail-about-bg.active {
    backdrop-filter: blur(1em) brightness(0.5);
}

.thumbnail-about {
    opacity: 0;
    /* slide in from bottom */
    transform: translateY(100%);
    transition: all 0.5s ease;

    pointer-events: none;
}

.thumbnail-about.active {
    opacity: 1;
    margin-top: 0px;
    transform: translateY(0);

    pointer-events: auto;
}

a.call, a.call:visited {
    text-decoration: none;
    color: #eee;
}
a.call:hover {
    text-decoration: underline;
}
.call::before { content: "["; color: #aaa; }
.call::after  { content: "]"; color: #aaa; }
a.call:hover::before { color: #eee; }
a.call:hover::after  { color: #eee; }